.dark-mode {
    background-color: #042743;
    color: white; /* or other dark mode styles */
  }
  
  .light-mode {
    background-color: white;
    color: black; /* or other light mode styles */
  }
  